<!-- from: https://gist.github.com/pdarragh/c7ca120604c1a1d8b8de -->
<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% if entry.absolute %}
  {% capture fullurl %}{{ entry.url }}{% endcapture %}
{% else %}
  {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
{% endif %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->

<nav class="pure-menu-horizontal">
    <ul class="pure-menu-list">
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign current = ' class="current"' %}
        {% else %}
            {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li{{ current }}  class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" >
            <a href="{% if entry.absolute %}{{ entry.url }}{% else %}{{ site.baseurl }}{{ entry.url }}{% endif %}" class="pure-menu-link">{{ entry.title }}</a>
            <ul class="pure-menu-children">
                {% for sublink in sublinks %}
                <li class="pure-menu-item">
                    <a href="{% if sublink.absolute %}{{ sublink.url }}{% else %}{{ site.baseurl }}{{ sublink.url }}{% endif %}" class="pure-menu-link"> {{ sublink.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li{{ current }}  class="pure-menu-item">
            <a href="{% if entry.absolute %}{{ entry.url }}{% else %}{{ site.baseurl }}{{ entry.url }}{% endif %}" class="pure-menu-link">{{ entry.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
